<h1>Evidence Tracks</h1>

<table>
  <tr>
    <th>Data Type</th>
    <th>Name</th>
    <th>Selection Method</th>
    <th>Selection Criteria</th>
    <th># of Regions</th>
    <td>Select</td>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td class="nowrap"><%= track.data_type %></td>
    <td><%= track.name %></td>
    <td class="nowrap"><%= track.selection_method %></td>
    <td class="nowrap"><%= track.selection_criteria %></td>
    <td class="nowrap"><%= number_with_delimiter(track.regions_count) %></td>
    <td><%= check_box_tag :track %></td>
  </tr>
<% end %>
</table>

<%= submit_tag "Show Tracks"%>