
<h1>Select Evidence Tracks</h1>
<% form_tag(:action => "summary") do %>
  <%= hidden_field_tag "resolution", @resolution %>
  <%= hidden_field_tag "regions", @regions %>
  
<table>
  <tr>
    <th>Data Type</th>
    <th>Name</th>
    <th>Selection Method</th>
    <th>Selection Criteria</th>
    <th># of Regions</th>
    <td>Select</td>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td class="nowrap"><%= track.data_type %></td>
    <td><%= track.name %></td>
    <td class="nowrap"><%= track.selection_method %></td>
    <td class="nowrap"><%= track.selection_criteria %></td>
    <td class="nowrap"><%= number_to_human(track.regions_count) %></td>
    <td><%= check_box_tag "track_ids[]", track.id, true %></td>
  </tr>
  <% Track.where(:data_type => track.data_type).where("id < 990").each do |subtrack| %>
    <tr class="subtrack">
      <td class="nowrap"></td>
      <td><%= subtrack.name %></td>
      <td class="nowrap"><%= subtrack.selection_method %></td>
      <td class="nowrap"><%= subtrack.selection_criteria %></td>
      <td class="nowrap"><%= number_to_human(subtrack.regions_count) %></td>
      <td><%= check_box_tag "track_ids[]", subtrack.id, false %></td>
    </tr>
  <% end %>
<% end %>
</table>

<%= radio_button_tag 'resolution', 7, true %> 10 MB
<%= radio_button_tag 'resolution', 6 %> 1 MB
<%= radio_button_tag 'resolution', 5 %> 100 KB
<%= radio_button_tag 'resolution', 4 %> 10 KB
<br />
<%= submit_tag "Find evidences for these inputs in these evidence tracks", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>

<% end %>