
<h1>Result Summary</h1>
<table id="summary">
  <tr>
    <th>Input</th>
    <th>CNV</th>
    <th>Gene Expression</th>
    <th>Expert Knowledge</th>
    <th>SNP</th>
    <th>Literature</th>
    <th>Total</th>
  </tr>
<% @summary.each do |s| %>
  <tr>
    <td><%= link_to s[0], graph_path(:chromosome => s[7], :level => s[8], :center => s[9])%></td>
    <td><span class="<%= s[1] > 0 ? "cnv" : "novalue" %>"><%= s[1] %></span></td>
    <td><span class="<%= s[2] > 0 ? "ge" : "novalue" %>"><%= s[2] %></span></td>
    <td><span class="<%= s[3] > 0 ? "genes" : "novalue" %>"><%= s[3] %></span></td>
    <td><span class="<%= s[4] > 0 ? "snp" : "novalue" %>"><%= s[4] %></span></td>
    <td><span class="<%= s[5] > 0 ? "literature" : "novalue" %>"><%= s[5] %></span></td>
    <td><span class="<%= s[6] > 0 ? "total" : "novalue" %>"><%= s[6] %></span></td>
  </tr>
<% end %>
</table>

<h2><%= pluralize(@regions.size, "region") %> recognized.</h2>
<h2>Resolution: <%= number_to_human_size(10 ** @resolution.to_i, :precision => 1) %></h2>

<h2>Selected Evidence Tracks</h2>
<ul>
  <% @tracks.each do |track| %>
  <li><span class="<%= @data_type_css[track.data_type] %>"><%= track.data_type %></span> <%= track.name %></li>
  <% end %>
</ul>